# Final Model: Random Forest

In [1]:
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings("ignore")

In [2]:
csv = Path("titanic.csv")
titanic_df = pd.read_csv(csv)
titanic_df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [3]:
#drop unecessary columns
titanic_df = titanic_df.drop(["name","ticket","cabin","boat","body","home.dest"], axis = 1)

In [4]:
#get rid of missing values 
new_df = titanic_df.dropna()

In [5]:
dummy_df = pd.get_dummies(new_df)
dummy_df.head()

,pclass,survived,age,sibsp,parch,fare,sex_female,sex_male,embarked_C,embarked_Q,embarked_S
0,1.0,1.0,29.0000,0.0,0.0,211.3375,1,0,0,0,1
1,1.0,1.0,0.9167,1.0,2.0,151.5500,0,1,0,0,1
2,1.0,0.0,2.0000,1.0,2.0,151.5500,1,0,0,0,1
3,1.0,0.0,30.0000,1.0,2.0,151.5500,0,1,0,0,1
4,1.0,0.0,25.0000,1.0,2.0,151.5500,1,0,0,0,1

In [7]:
# Getting target, features and train/testing/splitting the data 
y_rf = dummy_df["survived"].values.reshape(-1, 1)
X_rf = dummy_df.drop("survived", axis = 1)
X_trainRF, X_testRF, y_trainRF, y_testRF = train_test_split(X_rf, y_rf, random_state=1912)

In [8]:
# Scaling the data 
scaler = StandardScaler()
X_scalerRF = scaler.fit(X_trainRF)
X_train_scaledRF = X_scalerRF.transform(X_trainRF)
X_test_scaledRF = X_scalerRF.transform(X_testRF)

In [9]:
# Creating the Random Forest mode
rf_model = RandomForestClassifier(n_estimators=1000, random_state=78)

In [10]:
# Fitting the model 
rf_model = rf_model.fit(X_train_scaledRF, y_trainRF.ravel())

In [11]:
# Making predictions 
predictionsRF = rf_model.predict(X_test_scaledRF)

In [12]:
# Getting the accuracy score 
accuracy_score(y_testRF,predictionsRF)

0.7931034482758621

In [15]:
pred_v_surv = X_testRF.copy()
pred_v_surv["actual_survival"] = y_testRF
pred_v_surv["predicted_survival"] = predictionsRF
pred_v_surv.to_csv("Model_Predictions.csv")

In [45]:
def predict_titanic(pclass,age,sibsp,parch,fare,female,male,embarked_C,embarked_Q,embarked_S):
    x_data = pd.DataFrame({"pclass":pclass,
                           "age":age, 
                           "sibsp":sibsp,
                           "parch":parch,
                           "fare":fare,
                           "sex_female":female,
                           "sex_male":male,
                           "embarked_C":embarked_C,
                          "embarked_Q":embarked_Q,
                          "embarked_S":embarked_S},index=[0])
    X_scaler = X_scalerRF.transform(x_data)
    prediction = rf_model.predict(X_scaler)
    if prediction[0] > 0:
        return("You survived the sinking of the Titanic")
    else:
        return("You have perished in the sinking of the Titanic")

In [47]:
#Rose's Prediction"
predict_titanic(1,17,0,1,512,1,0,0,0,1)

'You survived the sinking of the Titanic'

In [49]:
#Jack's Prediction
predict_titanic(3,20,0,0,0,0,1,0,0,1)

'You have perished in the sinking of the Titanic'

In [54]:
#Irene's Prediction
predict_titanic(2,34,1,0,73.5,1,0,0,0,1)

'You survived the sinking of the Titanic'

In [51]:
#Kerry's Prediction
predict_titanic(2,31,1,0,73.5,1,0,0,0,1)

'You survived the sinking of the Titanic'

In [52]:
predict_titanic(2,35,1,0,73.5,0,1,0,0,1)

'You have perished in the sinking of the Titanic'

In [64]:
models =  ["Logistic Regression","Logistic w/ PCA","Decision Tree","Random Forest","Random Forest w/ dropping features" ,
    "K-Nearest Neighbors" ,
    "K-Nearest Neighbors w/ dropping features",
    "Neural Network w/ 4 layers"]
accuracies= [.74,.67,.78,.79,.76,.78,.75,.77]

attempts_df = pd.DataFrame({"Model":models,"Accuracy":accuracies})
attempts_df.to_csv("Model_Prog")

                                      Model  Accuracy
0                       Logistic Regression      0.74
1                           Logistic w/ PCA      0.67
2                             Decision Tree      0.78
3                             Random Forest      0.79
4        Random Forest w/ dropping features      0.76
5                       K-Nearest Neighbors      0.78
6  K-Nearest Neighbors w/ dropping features      0.75
7                Neural Network w/ 4 layers      0.77